{
 "luma": {
  "demo_opts.py": {
   "folder": "/opt/luma.examples/examples"
  }
 },
 "imagerefresh": 3,
 "imagestyle": "pretty",
  "imageexport": {
   "active": true,
   "path":"/dev/shm/householdenergy.gif",
   "intervall": 60
  },
 "inverter": {
  "address": "192.168.179.2",
  "site": "status.html",
  "user": "",
  "pw": "",
  "offset": -100
 },
 "electricitymeter": {
  "address": "192.168.179.37",
  "site": "cm?cmnd=STATUS+0",
  "since": ""
 },
 "plugs":{
  "1":{
   "address":"tasmota-123456-xxxx",
   "site":"cm?cmnd=STATUS+0"
  },
  "2":{
   "address":"",
   "site":"cm?cmnd=STATUS+0"
  },
  "3":{
   "address":"",
   "site":"cm?cmnd=STATUS+0"
  },
  "4":{
   "address":"",
   "site":"cm?cmnd=STATUS+0"
  }
 },
 "pushover":{
	 "messages":true,
	 "apikey":"",
  "userkey":""
 },
 "font": {
  "color": "WHITE",
  "ttf": false,
  "ttffile": "/opt/luma.examples/examples/fonts/miscfs_.ttf",
  "ttfsize": 6
 }
}
